
@{
    ViewBag.Title = "ViewClassScheduleRoomAllocation";
    Layout = "~/Views/Shared/_ViewClassScheduleRoomAllocation.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Start New Session
            <small>ClassSchedule RoomAllocation</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-------------------------------------------Common &  Menu Section---------------->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-sm-offset-3 col-md-6">
                <!-- Horizontal Form -->
                <div class="box box-info box-form">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Class Schedule Room Allocation Information</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Department</label>
                                <div class="col-sm-10">
                                    <select class="form-control select2" id="DepartmentId" name="DepartmentId" style="width: 100%;">
                                        <option disabled selected>Select One</option>
                                        @foreach (var department in ViewBag.Departments)
                                        {
                                            <option value="@department.Id">@department.Name</option>
                                        }
                                    </select>
                                </div>
                            </div><!-- /.form-group -->
                            <table id="myTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Schedule Info</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Schedule Info</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="reset" id="Refresh" class="btn btn-info pull-right">Refresh</button>
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
            </div><!--/.col (right) -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
